{% extends "base.html" %}
{% load static %}
{% load templatetags %}

{% block body %}

<div>
    <h2 class="text-center"> Shopping bag</h2> 
    {% if bag_contents %}
        <h5 class="text-center"> {{ product_count }} Items </div>
    <hr class="black w-50 pb-3">
    <div class="cart-container w-50 ">
       
        <table class="table-responsive ml-5 mr-5">
            <thead>
                <tr>
                    <th></th>
                    <th> Item</th>
                    <th> Quantity</th>
                    <th> Price</th>
                    <th> Total </th>

                </tr>
            </thead>
            {% for contents in bag_contents %}
            <tr>
                <td class="w-25">
                    <img class="img-fluid w-100" src="{{ contents.product.image.url }}">
                </td>
                <td> {{ contents.product.name}} </td>
                <td>{{ contents.qty}} </td>
                <td>€{{ contents.product.price}} </td>
                <td> €{{ contents.product.price | individual_total:contents.qty}}</td>
                {% endfor %}
            </tr>
        </table>

        <h5><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h5>
        <div class=" fluid-container mt-5 pl-5">
            <a href="{% url 'products' %}" class="shopping-link mr-5"> Continue Shopping </a>
            <a href="{% url 'checkout' %}" class="checkout-link"> Checkout <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        {% else %}
        <p> You have no items in your shopping bag </p>
        <br>
        <a href="{% url 'products' %}"> Shop now </a>
        {% endif %}
    </div>
</div>
{% endblock %}
