{% extends "base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}
Shopping bag
{% endblock %}

{% block body %}

<div class="pt-3">
    
    <div class="row">
        <div class="col">
            <h2 class="text-center"> Shopping bag</h2> 
            
            {% if bag_items %}
             <h5 class="text-center"> {{ product_count }} Items </h5>
             <hr class="w-50">
        </div>
    </div>

    <div class="row">
       <div class="col">
 
       
  
    <div class="cart-container table-responsive">
       
        <table class="table-responsive shopping-table ml-5 mr-5 text-center table table-sm  table-striped table-hover">
            <thead>
                <tr>
                    <th class="small-screen"></th>
                    <th> Item</th>
                    <th> Size </th>
                    <th> Quantity </th>
                    <th> </th>
                    <th> Total </th>
                   

                </tr>
            </thead>
            <tbody>
                {% for contents in bag_items %}
                {% if contents.product.image %}
            <tr> 
               
                
                <td class="table-image small-screen">
                    <img class="img-fluid w-100" src="{{ contents.product.image.url }}">
                    {% else %}
                    <img class="w-100" src = "{{ MEDIA_URL }}noimage.png">
                </td>
                {% endif %}
                <td><p> {{ contents.product.name}}<br> <span class="text-muted">{{contents.product.sku}}</span></p> </td>
                <td> <p> {% if contents.product.has_sizes %}{{ contents.size }}{%else%}ONE-SIZE{% endif %} </p></td>
                <td><p>{{ contents.qty}} </p></td>
             

                    <td class="py-3 w-25">
                        {% include "bag/bag-quantity.html" %}
                
                    </td>
                <td><p> €{{ contents.product.price | individual_total:contents.qty }}</p></td>
                
    {% endfor %}
            </tr>
            </tbody>
        </table>
        <div class="bag-total float-right">
        <h5> Delivery : {{ delivery_cost|floatformat:2}}</h5>
        <h5>Bag Total: €{{ total|floatformat:2 }}</h5>
        <h4><strong>Grand Total :€{{ grand_total |floatformat:2}}  </strong></h4>
        </div>
        <div class="mt-5 pl-5 checkout-btn">
            <a href="{% url 'products' %}" class="shopping-link  mr-5"> Continue Shopping </a>
            <a href="{% url 'checkout' %}" class="checkout-link float-right"> Checkout <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        {% else %}

        <div class="pb-5">
              
            <h5 class="text-center pt-4"> You have no items in your shopping bag </h5>
    <br>
    <a  class="text-center" href="{% url 'products' %}"> <h3> Shop now </h3> </a>
    </div>
{% endif %}
    
        
    </div>
</div>
</div>
</div>


{% endblock %}

{% block js %}
{{ block.super }}

{% include 'products/includes/product_quantity.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.adjust-quantity').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-product').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var productId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${productId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}


