{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="fluid-container h-100">
    <div>
        <div class="hero">
            {% if user.is_authenticated %}

            <h4 class="text-center float-right user-hero"> Welcome {{ user.username }} </h4>
            {% endif%}

            <img src="{% static 'images/group-workout2.jpeg'%}" alt="group of girls holding yoga mats">
            <div class="col-6 col-md-4 my-auto hero-text">
                <h2>
                    The complete workout uniform
                </h2>
                <h3> Search for your perfect everyday fit </h3>
                <a class="shop-button" href="" role="button"> Shop Now</a>
            </div>
        </div>

    </div>
</div>

<div class="fluid-container categories">

    <div class="category-container">
        <div class="one-whole column center">
            <h2 class="text-center category-heading"> Shop by Category </h2>
        </div>

        <div class="one-whole column">
            <div class="c-container">
                <a href="">
                    <img class="category-image" src="{% static 'images/sweatshirt.jpeg'%}"
                        alt="group of girls holding yoga mats">
                    <h4 class="category-text"> Sweatshirts</h4>
                </a>
            </div>
            <div class="c-container">
                <a href="">
                    <img class="category-image" src="{% static 'images/full-outfit.jpeg'%}"
                        alt="group of girls holding yoga mats">
                    <h4 class="category-text"> Tops </h4>
                </a>
            </div>

            <div class="c-container">
                <a href="">
                    <img class="category-image" src="{% static 'images/sports-bra.jpeg'%}"
                        alt="group of girls holding yoga mats">
                    <h4 class="category-text"> Sports Bras</h4>
                </a>
            </div>
            <div class="c-container">
                <a href="">
                    <img class="category-image" src="{% static 'images/leggings.jpeg'%}"
                        alt="group of girls holding yoga mats">
                    <h4 class="category-text"> Bottoms</h4>
                </a>
            </div>

            <div class="c-container">
                <a href="">
                    <img class="category-image" src="{% static 'images/ball.jpeg'%}"
                        alt="group of girls holding yoga mats">
                    <h4 class="category-text"> Accessories </h4>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="best-seller fluid-container">
    <a href="">
    <img src="{% static 'images/leggings-edit.jpeg'%}" class="bestseller-img">
    </a>
</div> 

<div class="member-div mt-5">
    {% if user.is_authenticated %}
    <h2 class="text-center"> COMING SOON </h2>
    <img class="w-100 new-jacket-home" src="{% static 'images/laura_jacket.jpeg'%}" alt="girl in pink jacket">
    {% else %}
    <img class="w-100" src="{% static 'images/member-1.png'%}" alt="girl in pink jacket">
    {%endif%}
</div>


<div class="carousel slide  review-slider container-fluid" data-ride="carousel" id="review-slider">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h4 class="text-center font-italic"> "Beautiful workout wear that's Comfy and Chic" </h4>
        <hr class="w-50">
        <h3 class="text-center source"> Stellar Magazine </h3>
        
      </div>
      <div class="carousel-item">
        <h4 class="text-center font-italic"> "We LOVE. Everything fits perfectly. We want it all"</h4>
        <hr class=" w-50">
        <h3 class="text-center source"> Cosmopolitan </h3>
      </div>
      <div class="carousel-item">
        <h4 class="text-center font-italic"> "Stunning collection of sustainable pieces" </h4>
        <hr class="w-50">
        <h3 class="text-center source"> British Vogue </h3>
      </div>
    </div>
</div>
{% endblock %}


