{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="fluid-container h-100">
        <div class="row h-100">
            <div class = "hero" >
                {% if user.is_authenticated %}
               
                <h4 class="text-center float-right user-hero"> Welcome {{ user.username }} </h4>
                {% endif%}
    
                <img src="{% static 'images/group-workout2.jpeg'%}" alt="group of girls holding yoga mats"> 
                <div class="col-6 col-md-4 my-auto hero-text">
                    <h1> 
                        Shop our latest arrivals now!
                    </h1>
                </div>
            </div>
            
        </div>
        </div>
    </div>
{% endblock %}