{% extends "base.html" %}
{% load static %}


{% block body %}
{% load crispy_forms_tags %}

<div class="profile-container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
    <h2 class="text-center"> {{user.username}}'s' Profile </h2>
    <hr class="black w-50 pb-3">
    <div>
    <h3> My Profile </h3>
    <form action="{% url 'profile' %}" method="POST" id="user-profile-form">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn"> Update Profile</button>
    </form>
        </div>
    <div class="col">
        <h3> My Orders</h3>
    </div>
    <div class="col">
        <h3> My Reviews </h3>
    </div>
    </div>
    {% else %}
    <h4 class="text-center"> Please login or register an account to view your profile </h4>
</div>
</div>

{% endif %}
{% endblock %}
{% block js %}

{{ block.super }}
{% endblock %}
