{% extends "base.html" %}
{% load static %}
{% load templatetags %}
{% load crispy_forms_tags %}

{% block title %}
Checkout 
{% endblock %}
{% block body %}

<div class="checkout-container p-2">
<div>
    <h2 class="text-center"> Checkout </h2>
    <hr class="black w-50 pb-3">
    
<div class="row table-responsive">

<h4 class="text-black pl-5 pb-3"> Checkout Summary ({{ product_count }})  </h4>
           
    <table class="table-responsive shopping-table ml-3 table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th> Item</th>
                <th> Total </th>

            </tr>
        </thead>
      <tbody>
        {% for contents in bag_items %}
        <tr>
            <td class="table-image">
                <img class="img-fluid w-100" src="{{ contents.product.image.url }}">
            </td>
            <td> {{ contents.product.name}} <br>Qty({{ contents.qty}})  <span class="text-muted"><br>Item code:{{contents.product.sku}}</span>
            <br>
            Size: {% if contents.product.has_sizes %}{{ contents.size}}{% else %} ONE-SIZE {% endif %}</p>  </td>
            <td> {{ contents.product.price | individual_total:contents.qty}}</td>
        </tr>
         {% endfor %}
         </tbody>
        </table>
        <div> <h4 class="pl-5 pb-3"><strong> Grand Total </strong>(incl Delivery) <strong> €{{grand_total | floatformat:2 }} </strong></h4></div>
    <div class="col-md-12">
        <div class="col-12">
            <h4 class="pt-3"> Fill out the form below to checkout and complete your order</h4>
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
               
                {{ checkout_form|crispy}}
            
                {% if user.is_authenticated %}
                <label class="form-check-label" for="id-save-details">Save this delivery information to my
                    profile</label>
                <input class="form-check-input " type="checkbox" id="save_details" name="save_details"
                    checked>
                {% else %}
                <a href="{%url 'account_signup'%}">
                    Register an account
                </a>

                <a href="{url 'account_login'}">
                    Login to save info
                </a>
                {% endif %}
                
                <div id="stripe-card"></div>

                <div id="card-error-message"></div>
                <input type="hidden" value = "{{ client_secret }}" name="client_secret">
                <div class="pt-4">
                <button type="submit" class="btn back-btn"> Back to cart</button>

                <button id="submit-btn" type="submit" class="btn submit-btn "> Complete Payment </button> 
                <p class="total-alert"> <strong> <i class="fa-solid fa-circle-exclamation"></i> Your card will be charged €{{grand_total | floatformat:2 }} </strong> </p>
                    </div>

            </form>
        </div>

    </div>
</div>
</div>

<div id="loading-overlay">
   
    <div class="loading-spinner">
       
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}

{{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_checkout.js' %}"></script>
{% endblock %}

