{% extends "base.html" %}
{% load static %}
{% block title %}
Order Success
{% endblock%}
{% block body %}

<div class="pt-5 order-success text-center">
<h3 class="purple-text">Thanks for ordering from RENU Apparel</h3>
<p> order #{{ checkout_order.order_number}} <br>
You will recieve confirmation of your order at {{ checkout_order.email }}.</p>

<div class="confirmation-border pt-4">


<div class="order-details-container">
    <h3 class="purple-text"> ORDER DETAILS </h3>
<p class="order-details">
    Date : {{checkout_order.date}} <br>
    Name : {{checkout_order.name}} <br>
    Email : {{checkout_order.email}}<br>
    Address Line 1 : {{checkout_order.address_line_1}}<br>
    Address Line 2 : {{checkout_order.address_line_2}}<br>
    Town: {{checkout_order.town}}<br>
    City:{{checkout_order.city}}<br>
    Postcode:{{checkout_order.postcode}}<br>
    Country:{{checkout_order.country}}<br>
</p>
</div>
</div>

<h5> We can't wait to see you in RENU </h5>
<h6 class="purple-text"> Tag us on instagram <strong> #renuapparel #weloverenu #renugo </strong> </h6>
<div>
    <img class="order-success-img"src="{% static 'images/yoga-group.jpeg'%}" alt="group of girls with yoga mats">
</div>

</div>



{% endblock %}