html {
    height: 100%;

}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans SC', sans-serif;
    

}
a{
    color:#5EBAB1;

}

.message-block{
    z-index: 99999;
    position: fixed;
    top: 80px;
    right: 10px;
    
}
.custom-toast{
    overflow: visible;
}
.toast-capper{
    height: 5px;
}

.bag-preview-container{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bag-preview-button{
    background-color: #C9A4D5;
}
.toast-capper-bg{
    background-color: #C9A4D5;

}
.hero img {
    width: 100%;
    height: 80%;
    object-fit: contain;

}
.hero-text{

    background-color: #C9A4D5;
    color: white;
    width: 400px;
    height: 230px;
    top: 400px;
    left: 30px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;
    border-radius: 5px;

}

.shop-button{
    border: 2px;
    border-radius: 5px;
    width: 50%;
    background-color:#5EBAB1;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: center;
   

}

a:link{
    text-decoration: none;
}

a:hover{
    color: #A75EC2 !important;
}
.main-nav{
    background-color: White;
}

.navbar-light .navbar-brand {
    color: white;
    letter-spacing: 3px;
    padding-left: 20px;
    font-family: 'Abril Fatface', cursive; 
  
}
.navbar-border{
    padding-left: 30px;
}
.circle{
    border-radius: 100px;
    height: 50px;
    width: 70px;

}
.block{
    border: 1px;
    background-color: #5EBAB1;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 10px;

}
.navbar-light .navbar-nav .nav-link{
    color: #5EBAB1;
    font-weight: 600;
}
h2{
    font-weight: 600;
}

.nav-menu{
    right:0;
    position:absolute;
    margin-right:50px;
    display: flex;
}

.nav-search{
    left: 150px;
}

#search-box{
    border: 2px solid  #5EBAB1 !important;
}

#search-box2{
    border: 2px solid  #5EBAB1 !important;
}

.fa-search{
    color: #C9A4D5;
}

.section{
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.category-container{
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 30px;
}

.c-container{
    width:20%;
    background-color: white;
    text-align: center;
    float: left;
    border: 5px solid white;
    box-sizing: border-box;
}
.category-heading{
    color: #5EBAB1;
    font-family: 'Abril Fatface', cursive; 
    padding-bottom: 10px;
}
.category-image{
 
    width: 100%;
    height:200px;

}
.categories{
    padding-bottom:30px;
}

footer{
    margin-top: auto;
    height:200px;
    padding-top: 30px;
    
}
.footer-container{

    background-color: #FFE8FF;
}

hr{
    color:#5EBAB1;
}

.best-seller{
    width: 100%;
    
}
.bestseller-img {
    width: 100%;
    height: 70vh;
    object-fit: contain
    
}

.review-slider{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:40px;
    margin-bottom: 30px;

}


.source{
    font-family: 'Abril Fatface', cursive; 
    ;
}


.thumbnail-image{
    width: 100%;
    height: 400px;
}

.product-image{
    display:flex;
    justify-content: center;
}

.product-image-container{
    margin:0px 60px 0px 60px;
}

.add-to-bag-btn{
    background-color: #FFE8FF;
    padding: 6px 10px 6px 10px;
}

.shopping-link{
    background-color: #FFE8FF;
    padding: 10px;
    color: black;
}

.checkout-link{
    background-color: #5EBAB1;
    padding:10px;
    color: black;
}

#loading-overlay {
    opacity: 0.8;
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFE8FF;
    z-index: 9;
}

.loading-spinner{
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #5EBAB1;