html {
    height: 100%;

}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans SC', sans-serif;
    

}
a{
    color:#5EBAB1;

}

.message-block{
    z-index: 99999;
    position: fixed;
    top: 80px;
    right: 10px;
    
}
.custom-toast{
    overflow: visible;
}
.toast-capper{
    height: 5px;
}

.bag-preview-container{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bag-preview-button{
    background-color: #C9A4D5;
}
.toast-capper-bg{
    background-color: #C9A4D5;

}
.hero img {
    width: 100%;
    height: 80%;
    object-fit: contain;

}
.hero-text{

    background-color:#5EBAB1;
    color: white;
    width: 400px;
    height: 230px;
    top: 400px;
    left: 30px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;
    border-radius: 5px;

}
.hero-text-img{
    font-family:'Abril Fatface', cursive; 
}
.shop-button{
    border: 2px;
    border-radius: 5px;
    width: 50%;
    background-color:#FFE8FF;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin:auto;
   

}

a:link{
    text-decoration: none;
}

a:hover{
    color: #C9A4D5  !important;
}
.main-nav{
    background-color: White;
}

.navbar-light .navbar-brand {
    color: white;
    letter-spacing: 3px;
    padding-left: 20px;
    font-family: 'Abril Fatface', cursive; 
  
}
.navbar-border{
    padding-left: 30px;
}
.circle{
    border-radius: 100px;
    height: 50px;
    width: 70px;

}
.block{
    border: 1px;
    background-color: #5EBAB1;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 10px;

}
.navbar-light .navbar-nav .nav-link{
    color: #5EBAB1;
    font-weight: 600;
    font-size:large;
}


h2{
    font-weight: 600;
}
.product-img{
    width:300px;
}
.nav-menu{
    right:0;
    position:absolute;
    margin-right:50px;
    display: flex;
}

.nav-search{
    left: 150px;
}

#search-box{
    border: 2px solid  #C9A4D5 !important;
    border-radius: 2px !important;
}

#search-box2{
    border: 2px solid #C9A4D5 !important;
}

.fa-search{
    color: #C9A4D5;
}

.section{
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.category-container{
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 30px;
}

.c-container{
    width:20%;
    background-color: white;
    text-align: center;
    float: left;
    border: 5px solid white;
    box-sizing: border-box;
}
.category-heading{
    color: #5EBAB1;
    font-family: 'Abril Fatface', cursive; 
    padding-bottom: 10px;
}
.category-image{
 
    width: 100%;
    height:400px;

}
.categories{
    padding-bottom:30px;
}

footer{
    margin-top: auto;
    height:200px;
    
}

.footer-container{

    background-color: #FFE8FF;
}

hr{
    color:#5EBAB1;
}

.best-seller{
    width: 100%;
    
}
.bestseller-img {
    width: 100%;
    height: 70vh;
    object-fit: contain
    
}

.review-slider{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:40px;
    margin-bottom: 30px;

}

.order-summary-table{
    margin:auto;
}
.source{
    font-family: 'Abril Fatface', cursive;
    color: #5EBAB1; 
    
}


.thumbnail-image{
    width: 100%;
    height: 400px;
}

.product-image{
    display:flex;
    justify-content: center;
}

.product-image-container{
    margin:0px 60px 0px 60px;
}

.submit-btn{
    background-color: #FFE8FF;
    padding: 6px 10px 6px 10px;
}

.shopping-link{
    background-color: #FFE8FF;
    padding: 10px;
    color: black;
}

.checkout-link{
    background-color: #5EBAB1;
    padding:10px;
    width: 120px;
    color: black;
    margin-right: 60px;
}

#loading-overlay {
    opacity: 0.8;
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFE8FF;
    z-index: 9;
}

.loading-spinner{
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #5EBAB1;
}

#map{
    min-height: 360px;
    object-position: center;
}
#contact-post{
    height: 200px;
}
.contact-us{
    height: 85vh;
    padding-bottom: 20px;
    display:inline-block;
    padding-top: 20px;
    
}
.contact-container{
    padding-top: 40px;
}
.article-list{
    list-style-type: none;
}

.add-product-form{
    padding: 20px 100px 0 100px;
}
.profile-form{
    width: 50%;
    margin: auto;
}
.contact-form-container{
    width: 70%;
}
.group-workout-img{

    width: 100%;
}
.banner-div{
    background-color: #FFE8FF;
    padding:0;
}
.new-jacket{

    width: 90%;
    padding-bottom: 30px;

}
.boxing-block{
    border-radius: 10px;
    width:70%;
    background-color: #FFE8FF;
    margin: auto;
}
.boxing-img{
 height:300px;
 float:left;
 
}
.yoga-block{

    border-radius: 10px;
    width:70%;
    background-color: #5EBAB1;
    margin:auto;
}
.yoga-img{
    height:300px;
}
.search-bar{
    margin:auto;
    width: 20%;
    float: right;
    padding-bottom: 20px;
    
    
}
.login-form{
    margin: auto;
}
.register-form{
    margin:auto;
    width: 30%;
}

.password-redo{
    margin:auto;
    width: 40%;
}

.cart-container{
    margin:auto;
}

.table-image{
    width:100px;
}

.shopping-table th{
    padding-right: 20px;
}


.bag-total{
    padding-right: 50px;
    margin-top: 30px;
    margin-right: 20px;
    display:inline-block;
}
.coming-soon{
    font-family:'Abril Fatface', cursive;
}
.checkout-btn{
    width: 100%;
    display:inline-block;
}

.main-header-small{
    display: none;
}

.small-hero-text{
    display:none;
}

#checkout-form{
    width:70%;
}
.category-text{
    color:black;
}

element.style {
    margin-right: 10px;
}

.form-check-input {
    margin-left: 0 !important;
}

.total-alert{
    color:#5EBAB1;
    padding-top: 10px;
}
#stripe-card{
    padding : 20px 0 20px 0;
}
.back-btn{
    background-color: #5EBAB1;
}
.purple-text{
    color: #A75EC2;
}
.green-text{
    color:#5EBAB1;
}

.lilac-text{
    color:#C9A4D5;
}
.pink-text{
    color:#FFE8FF;
}
.pink-background{
    background-color: #FFE8FF;
}

.order-success-img{
    width:600px;
    height:400px;
}

.order-details-container{
    width:50%;
    margin: auto;
}

.hidden-hero{
    display:none;
}
.product-review-form{
    width: 70%;
    margin: auto;
}
.q-para{
    list-style-type: square;
}
.founder-img{
    padding: 50px;
    width:100%;
   
}
.about-container{
    margin:auto;
}

.footer-heading{
    font-family: 'Abril Fatface', cursive;
}

.footer-anchor{
    font-family: 'Abril Fatface', cursive;
}

@media screen and (max-width: 900px){
    .hero-text{
        height:260px;
    }
    .search-bar{
        float:none;
        
    }
   
}


@media screen and (min-width:500px) and  (max-width:800px){
    .hidden-hero{
        display:block;
    }
    .hero-text{
        display:none;
    }
    .product-image-container {
        margin:10px;

}
}
@media screen and (max-width:1000px){
.hide-small{
    display: none;
    
}
.c-container{
    width:25%;
}
}

@media screen and (max-width: 767px){
    .main-header-small{
        display: block;
        font-family: 'Abril Fatface', cursive; 
    }
}

@media screen and (max-width: 650px){


.c-container{
        width:50%;
    
    }
.product-review-form{
        width:100%;
    }

.category-heading{
    font-size: 25px;
}

.new-jacket{
    width: 80%;
    height: 90%;
}

.yoga-block{
    width:100%;
    height: 650px;
}

.boxing-block{
    width:100%;
    height: 650px;
}


.newsletter-form{
    background-color: #FFE8FF;
    margin:0 !important;
    text-align: left;

 
}
.newsletter{
    width:50%;
    margin:auto;
    padding:20px;
}

.profile-form{
    width: 80%;
    margin:auto;
}

}
@media screen and (max-width:500px){
    .hero-text{
        display:none;
    }
    .bestseller-img {
        height: 50vh;
        }
   
    .order-success-img {
        width: 100%;
        height: 300px;
}
}


@media screen and (max-width: 300px){

    .c-container{
        width:100%;
    
    }
}
@media screen and (max-width: 400px){

    .main-header-small{
        display: none;
    }

    .bestseller-img{
        height: 30vh;
    
    }
    .yoga-img{
        height:200px;
    }

    .product-img{
        width:100%;
    }
   
}
@media screen and (max-width: 770px){
    .newsletter{
        width:80%;
        margin:auto;
        padding:20px;
    }

    .search-bar{
        width:40%;
    }
    
}

@media screen and (min-width: 1700px){
    .thumbnail-image{
        padding: 0 30px 0 30px;
    }
}

@media screen and (min-width: 750px) and (max-width: 993px){
    .thumbnail-image{
        padding: 0 30px 0 30px;
    }
}

@media screen and (min-width: 500px) and (max-width: 575px){
    .thumbnail-image{
        width: 90%;
        height: 600px;
    }
}

@media screen and (max-width: 441px){
    .back-btn{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:400px){
    .contact-details-container{
        margin-top:80px;
    }
}

@media screen and (max-width:767px){

    .main-nav{
        padding-top: 60px;
    }
}