html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans SC', sans-serif;
    

}

.hero img {
    width: 100%;
    height: 80%;

}
.hero-text{

    background-color: #C9A4D5;
    color: white;
    width: 400px;
    height: 230px;
    top: 400px;
    left: 30px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;
    border-radius: 5px;

}

.shop-button{
    border: 2px;
    border-radius: 5px;
    width: 50%;
    background-color:#5EBAB1;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: center;
   

}

a:link{
    text-decoration: none;
}

a:hover{
    color: #A75EC2;
}
.main-nav{
    background-color: White;
}

.navbar-light .navbar-brand {
    color: #FFE8FF;
    letter-spacing: 3px;
    padding-left: 20px;
  
}
.navbar-border{
    padding-left: 30px;
}
.circle{
    border-radius: 100px;
    height: 50px;
    width: 70px;

}
.block{
    border: 1px;
    background-color: #5EBAB1;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 10px;

}
.navbar-light .navbar-nav .nav-link{
    color: #5EBAB1;
    font-weight: 600;
}
h2{
    font-weight: 600;
}

.nav-menu{
    right:0;
    position:absolute;
    margin-right:50px;
    display: flex;
}

.nav-search{
    left: 150px;
}

#search-box{
    border: 2px solid  #5EBAB1 !important;
}

#search-box2{
    border: 2px solid  #5EBAB1 !important;
}

.fa-search{
    color: #C9A4D5;
}

.section{
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.category-container{
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 30px;
}

.c-container{
    width:20%;
    background-color: white;
    text-align: center;
    float: left;
    border: 5px solid white;
    box-sizing: border-box;
}
.category-heading{
    color: #5EBAB1;
    
}
.category-image{
 
    width: 100%;
    height:300px;

}

.footer-container{

    background-color: #FFE8FF;
}

hr{
    color:#5EBAB1;
}