{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Renu Reads
{% endblock %}

{% block body %}
<div class="blog-container m-5">
    <div>
        <h2> {{ article.title }} </h2>
        <hr>
        {{ article.post }}
        <br>
        {% if request.user.is_superuser %}
        <div class="pt-2">
            <a href="{% url 'update_post' article.pk %}"> Update post </a>
            <a href="{% url 'delete_post' article.pk %}"> Delete post </a>
        </div>
        {% endif %}
        <a href="{% url 'renureads' %}" class="text-dark pt-3"> Back </a>
    </div>
    <br>
    <div>
        <h2> Comments </h2>
        <hr>

        {% if not article.blog_comment.all %}
        No comments, be the first to leave one <a href="{% url 'add_comment' article.pk %}">here. </a>
        {% else %}
        <p> Leave a comment <a href="{% url 'add_comment' article.pk %}"> here </a> </p>
        <br>
        {% for comment in article.blog_comment.all %}

        <strong> {{ comment.name }}
            {{ comment.date }} </strong> {% if request.user.is_superuser %}<a
            href="{% url 'delete_comment' comment.pk %}" class="pl-2"> <i class="delete fa-solid fa-trash-can"></i> </a>
        {% endif %}

        <br>
        {{ comment.comment }}
        <br>
        <br>
        {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}