{% extends "base.html" %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block body %}
<div class="about-container">
<h2 class="about-heading text-center pt-3"> Our Story </h2>
        <h4 class="text-center"> "RENU Apparel was created with sustainability in mind" </h4>

        <img class="founder-img" src="{% static 'images/founders.jpeg' %}" alt="two girls smiling">

        <p class="text-center"> Sarah and Alice created RENU APPAREL back in 2020 when the world was suffering from both COVID 
            <br> and global warming impacts. There was a gap in the irish market for sustainable wear that was comfortable <br>
            and afforable. Renu was inspired by many people and their work from home lifestyle. Fitness has also become more important for people.
            <br>  Since RENU was brought to life in the irish market, it has become 
             popular worldwide, now shipping internationally.
        </p>
        <p class="text-center"> RENU Apparel was created with sustainable in mind. <br>
            Our products are investment pieces that really will be apart of your "WORKOUT UNIFORM" for years to come.
        </p>
</div>
{% endblock %}