{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="contact-container">
    <div class="row">
        <div class="col text-center">
                <h3 class="text-center"> Contact us at Renu</h3>

                <h6> Send us a message or get in touch via our facebook page</h6>
            
                <hr class="w-50">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 contact-form">
            <form method="POST" action="{% url 'contact-success' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input id ="nameInput" type="text" name="name" class="form-control form-input" Placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlEmail">Email address</label>
                    <input type="email" name="email" class="form-control"  id="exampleFormControlEmail"
                        placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <label for="subjectInput">Subject</label>
                    <input id="subjectInput" type="text" name="subject" class="form-control form-input" Placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="6" placeholder="How can we help?" required></textarea>
                </div>
                <div class="submit-button text-right mb-2">
                    <button type="submit" id="submit-button" class="btn rounded-0 icon">
                        <span class="font-weight-bold text-uppercase">Send Message</span>
    
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="contact-details-container">
        <div class="text-center">
            <h3> Our details </h3>
            <hr class="w-50 hr">
                <p>Phone: 01 9876544  </p>
                <p> Email: info@renuapparel.com</p>
                <p> Pop up shop location: Arnotts, Henry Street, Dublin</p>
                <div id="map"></div>
    <p class="text-center"> Ps. Follow us on instagram to keep up with the latest renu trends </p>
</div>
{% endblock %}

{% block js %}

<script>


    function initMap(){
        var map = new google.maps.Map(document.getElementById("map"),{
            zoom: 12,
            center: {
                lat:  53.34927219307912, 
                lng:  -6.2631254355844295

            }
        });
    
        var dublin = new google.maps.Marker({
            position : {lat:53.34927219307912, lng: -6.2631254355844295 },
            map:map,
        
        });
       
        var infowindow = new google.maps.InfoWindow({
            content: "Our Pop up location - Arnotts, Henry Street, Dublin"
        });

        dublin.addListener('click', function() { 
            infowindow.open(map, dublin);
            });
        }

</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGIUweH84pCcagHcAAiDIzHyPZ7WiLPQU&callback=initMap"></script>


{% endblock %}