{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="contact-success">
    <div class="row text-center mt-5">
        <div class="col">
            <h2> RENU go</h2>

            {% if user.is_authenticated %}

            <h3> Our Upcoming Events </h3>
            <div>
            <h3> New product Sneak Peak </h3>
            <img class="new-jacket" src="{% static 'images/laura_jacket.jpeg'%}" alt="girl wearing pink jacket">
                </div>


           
    
    </div> 
    {% else %}

            <h3> Become a RENU go member today for access to our latest workout events and MORE </h3>

            <h5><a href="{% url 'account_signup' %}"> Sign up </a> or <a href="{% url 'account_login'%}"> Login now </a> </h5><br>
            <h6><a href="{% url 'products'%}"> Shopping this way </a> </h6>
           
            <img class=" group-workout-img" src="{% static 'images/group-workout.jpeg'%}" alt="group of girls at a workout">

         {% endif%}
        </div>
      
</div>


{% endblock %}