{% extends "base.html" %}
{% load static %}
{% block title %}
Renu Go
{% endblock %}
{% block body %}
<div class="contact-success">
    <div class="row text-center mt-5">
        <div class="col">
            <h2 class="pl-2 pr-2"> Welcome to RENU Go </h2>
                <h3> a community for our members </h3>
            <p class="mb-5 pr-2 pl-2"> We want to reward our Renu-Go members with access to FREE workout events and MORE </p>

            {% if user.is_authenticated %}
            <div class="mb-5">
                <h3 class="pl-2 pr-2"> Upcoming Events - December 2022 </h3>

                <div class="mb-3 boxing-block row">
                    <div class="col">
                           <h2 class="pt-3"> Boxing </h2>
                            <img class="boxing-img pl-4" src="{% static 'images/boxing.jpeg'%}" alt="girl doing boxing">
                            <div class="pt-5">
                            <p> <strong>When</strong>: Tuesday 6th December 2022 at 7PM </p>
                            <p> <strong>Where</strong>: Head on Boxing Academy, Dublin </p>
                            <p> <strong>Cost</strong>: FREE</p>
                            <p> Bring Water and a sweat towel </p>
                            <p> RENU items will be there to purchase on the day!</p> 
                            </div>
                    </div>
                </div>  
                <div class=" mb-4 yoga-block row">
                    <div class="col"> 
                       <h2 class="pt-3">  Yoga </h2>
                        <img class="yoga-img pl-3 float-right pt-5"src="{% static 'images/yoga.jpeg'%}" alt="girl doing yoga">
                        <div class="pt-5">
                        <p> <strong>When</strong>: Thurs 15th December 2022 at 7PM </p>
                            <p> <strong>Where</strong>: Arnotts level 2 </p>
                            <p> <strong>Cost</strong>: FREE</p>
                            <p> Bring Water and a sweat towel </p>
                            <p> RENU pop-up shop located in Arnotts on level 1</p> 
                            </div>
                    </div>

                </div>
            </div>
        </div>
        
            <div class="w-100">
            <h3> * New product Sneak Peak *</h3>
            <img class="new-jacket" src="{% static 'images/laura_jacket.jpeg'%}" alt="girl wearing pink jacket">
                </div>

                
    {% else %}

            <h4> Become a RENU go member today for access to our latest workout events and MORE </h4>

            <h5><a href="{% url 'account_signup' %}"> Sign up </a> or <a href="{% url 'account_login'%}"> Login now </a> </h5><br>
            <h6><a href="{% url 'products'%}"> Shopping this way </a> </h6>
           
            <img class=" group-workout-img p-3" src="{% static 'images/group-workout2.jpeg'%}" alt="group of girls at a workout">

         {% endif%}
        </div>
        
</div>


{% endblock %}