{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="container-fluid">

    <div class="row">


        <div class="col product-image text-center">
            
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4 text-center">
                  <a href="">
                        <img class="thumbnail thumbnail-image" src="{{ product.image.url }}">
                    </a>
                    <h4 class="float-left"> {{product.name}} </h4>
                    <p class=".d-print-inline-block float-right"> {{product.price}}</p>
             
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>



{% endblock %}