{% block body %}
{% load static %}


<div class="product-review-container text-center" id="product_review_container">

    <h3> Reviews {{ item_reviews.count}} </h3>
<hr class="w-50">

{% if user.is_authenticated %}
<div class="text-center">
    <form action = "{% url 'product_review' product.id %}" method="POST">
        {% csrf_token %}
       
        <div>
            Title: <input type="text" value="title">
            Review: <textarea name="review" id="review" required></textarea>
        </div>


        <button type="submit">Submit Review</button>
    </form>
{% else %}
<p> Please sign in to leave a product review </p>
</div>


</div>
{% endif %}
{% endblock %}